In [1]:
import pandas as pd
import os

In [2]:
dti_all = pd.read_csv('dti_consolidated_all.csv')
dti_all

,city_municipality,Local Economy Size,Local Economy Growth,Active Establishments in the Locality,Safety Compliant Business,Employment Generation,Cost of Living,Cost of Doing Business,Financial Deepening,Productivity,...,COVID-19 Testing Laboratory,Drug Abuse Treatment and Rehabilitation Centers,Drug Testing Laboratory,General Clinic Laboratory,Hospital,Infirmary,Rural Health Unit,Social hygiene Clinic,Poverty Incidents,Cluster_Id
0,Aborlan,0.009115,0.050433,0.123158,0.139351,0.047555,0.443412,0.903337,0.098375,0.035976,...,0.0,0.000000,0.0,0.000000,0.111111,0.0,0.000000,0.0,0.858155,1.0
1,Abra De Ilog,0.014945,0.104546,0.035555,0.031477,0.013509,0.395437,0.922827,0.041585,0.020719,...,0.0,0.000000,0.0,0.000000,0.000000,0.2,0.000000,0.0,0.767344,2.0
2,Abucay,0.110683,0.304040,0.419417,0.409162,0.484464,0.653166,0.790618,0.316012,0.400376,...,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.960429,1.0
3,Abulug,0.097218,0.304953,0.232108,0.325302,0.326613,0.530501,0.820631,0.703240,0.306262,...,0.0,0.000000,0.0,0.666667,0.111111,0.0,0.000000,0.0,0.839560,1.0
4,Abuyog,0.010595,0.105341,0.122743,0.142770,0.060235,0.416333,0.698308,0.367670,0.036938,...,0.0,0.000000,0.0,0.333333,0.111111,0.0,0.071429,0.0,0.669145,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1627,Zamboanga,0.027345,0.957783,0.373451,0.186713,0.093773,0.717160,0.794560,0.304628,0.156753,...,1.0,0.591716,0.0,0.000000,1.000000,0.6,1.000000,1.0,0.798675,0.0
1628,Zamboanguita,0.024741,0.309516,0.249006,0.500525,0.066246,0.699719,0.875568,0.104039,0.050510,...,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.805044,1.0
1629,Zaragoza,0.101627,0.323560,0.327918,0.444097,0.307168,0.643115,0.748577,0.622464,0.288912,...,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.071429,0.0,0.979279,1.0
1630,Zarraga,0.020864,0.312843,0.254961,0.298631,0.240923,0.886494,0.868693,0.242649,0.177423,...,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.889996,1.0
1631,Zumarraga,0.002545,0.002650,0.241631,0.000000,0.043975,0.303389,0.431378,0.005778,0.022524,...,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.532865,2.0

In [15]:
df = pd.read_csv('../task-5-web-app-deployment/data/model/poverty.csv', index_col='city_municipality')
df

,Cost of Living,Poverty Incidents,Financial Deepening,Employed Population,Cluster_Id,Vulnerability
city_municipality,,,,,,
Aborlan,0.737637,0.141845,0.112828,0.007804,1,medium
Abra De Ilog,0.781364,0.232656,0.040603,0.080855,1,medium
Abucay,0.548175,0.039571,0.311169,0.371140,0,low
Abulug,0.621007,0.160440,0.641586,0.020086,0,low
Abuyog,0.350318,0.330855,0.469916,0.012154,0,low
...,...,...,...,...,...,...
Zamboanga,0.825091,0.201325,0.309794,0.129982,1,medium
Zamboanguita,0.803262,0.194956,0.105770,0.027890,1,medium
Zaragoza,0.999650,0.020721,0.559921,0.029041,1,medium
Zarraga,0.985448,0.110004,0.238945,0.102476,1,medium
Zumarraga,0.313307,0.467135,0.000000,0.000000,0,low

In [13]:
def read_csv_folder(folder_path):
    """Reads all CSV files in a folder and creates separate dataframes for each file"""
    csv_files = sorted([f for f in os.listdir(folder_path) if f.endswith('.csv')])
    for i, file in enumerate(csv_files):
        globals()[str(i)] = pd.read_csv(os.path.join(folder_path, file))

In [14]:
folder_path = '../../tasks/task-5-web-app-deployment/data/model/'
read_csv_folder(folder_path)

In [16]:
df1

NameError: name 'df1' is not defined

In [12]:
def get_data():
    data_folder = "../task-5-web-app-deployment/data/model"
    files = [f for f in os.listdir(data_folder) if f.endswith(".csv")]
    dfs = {}
    for file in files:
        df_name = os.path.splitext(file)[0]
        df = pd.read_csv(os.path.join(data_folder, file))
        df = df.iloc[:, :-2]  # remove last column
        dfs[df_name] = df.set_index(df.columns[0])
    return dfs

In [13]:
data = get_data()
# df_disaster = data["disaster"]
# df_dweg = data["dweg"]
# df_health = data["health"]
# df_industry = data["industry_II"]
df_poverty = data["poverty"]

In [14]:
df_poverty

,Cost of Living,Poverty Incidents,Financial Deepening,Employed Population
city_municipality,,,,
Aborlan,0.737637,0.141845,0.112828,0.007804
Abra De Ilog,0.781364,0.232656,0.040603,0.080855
Abucay,0.548175,0.039571,0.311169,0.371140
Abulug,0.621007,0.160440,0.641586,0.020086
Abuyog,0.350318,0.330855,0.469916,0.012154
...,...,...,...,...
Zamboanga,0.825091,0.201325,0.309794,0.129982
Zamboanguita,0.803262,0.194956,0.105770,0.027890
Zaragoza,0.999650,0.020721,0.559921,0.029041
Zarraga,0.985448,0.110004,0.238945,0.102476
Zumarraga,0.313307,0.467135,0.000000,0.000000

In [42]:
Disaster, Economy, Health, Industry, Poverty = 'src/tasks/task-5-web-app-deployment/pckls/disaster.pkl', 'src/tasks/task-5-web-app-deployment/pckls/dweg.pkl', 'src/tasks/task-5-web-app-deployment/pckls/health.pkl', 'src/tasks/task-5-web-app-deployment/pckls/industry_II.pkl', 'src/tasks/task-5-web-app-deployment/pckls/poverty.pkl'

In [43]:
models = {'Disaster': Disaster, 'Economy': Economy, 'Health': Health, 'Industry': Industry, 'Poverty': Poverty}

In [44]:
model_names = models.keys()

In [45]:
model_names

dict_keys(['Disaster', 'Economy', 'Health', 'Industry', 'Poverty'])

In [46]:
models[option]

NameError: name 'option' is not defined